
h3.clase1{
	color: #f88425;
}
.encuadrado1{
border-style: solid;
border-width: 1px;
border-color: grey;
border-radius: 10px;
padding-bottom:30px;
padding-top:20px;
padding-right:50px;
padding-left:20px;
margin-left:20px;
flex:1;

}
.textsample1{
margin-left: 30px;
border-bottom: 1px solid grey;
}
.textborder1{
padding-bottom: 15px;
border-bottom: 1px solid grey;
padding-left: 150px;
}
.datos1{
line-height: 1.8;
margin:30px;	
}
.perfilRefugio1{
	width: 70px;
	height: 70px;
	border-radius: 100px;	
	float: right;
	
}
.naranjito1{
	background-color: #f88425;
	border-radius: 10px;
	text-align: center;
	padding: 10px;
	margin-left:30px;
	margin-top: 60px;
	padding-left:15%;
	padding-right:15%;
	position:relative;
}


