html{
	margin-left:20px;
	font-family:Helvetica;
	width:1280px;
	resize:both;
}
div.PBbandejaMensajesFuera {
		border: solid 2px;
		border-radius:9%;
		border-color:#B8B8B8;
		margin-left:5%;
		margin-top:10%;
		float:left;
		width:20%;
	}
	.PBmensajeFueraDIV{
		float:right;
		width:65%;
	}
	p.PBmensajeNombrePerroFuera{
		color:orange;
		font-size:88%;
		margin-top:25px;
	}
	p.PBmensajeRazaPerroFuera{
		font-size:88%;
		margin-top:-15px;
	}
	p.PBmensajeFuera{
		color:grey;
		font-size:68%;
		margin-top:-10px;
	}

img.PBimagenMensajeFuera{
	margin-left:10%;
	margin-top:8%;
	margin-bottom:8%;
	float:left;
	border-radius: 20%;
}

hr{
	clear:both;
	height:1.5px;
	background-color:#B8B8B8;
}










div.PBmensajeVentana{
	height:550px;
	border: solid 2px;
	border-radius: 14px 14px 14px 14px;
	border-color:#B8B8B8;
	margin-left:2%;
	margin-top:10%;
	float:left;
	width:60%;
}
img.PBimagenVisitanteVentana{
	margin-left:4%;
	margin-top:2%;
	margin-bottom:2%;
	float:left;
	border-radius: 50%;
}
div.PBdivVentana{
	float:right;
	width:86%;
}
p.PBmensajeNombreLocal{
	color:orange;
	margin-top:25px;
}
p.PBmensajeNombreVisitante{
	margin-top:-15px;
}

div.PBmensajeLocal{
	border: solid 1px #B8B8B8;
	margin-top:1.5%;
	border-radius: 14px 14px 14px 14px;
	margin-left:4%;
	background:#D3D3D3;
	float:left;
	width:80%;
	margin-bottom:1.5%;
}
img.PBimagenLocal{
	float:right;
	margin-top:4%;
	margin-left:4%;
	margin-right:4%;
	border-radius: 50%;
}
div.PBmensajeLocal p.PBmensajeTexto{
	margin-left:4%;
}
div.PBmensajeLocal p.PBmensajeFecha{
	margin-top:-12px;
	margin-left:4%;
	color:grey;
	font-size:75%;
}
div.PBmensajeVisitante{
	border: solid 1px #B8B8B8;
	margin-top:3%;
	border-radius: 14px 14px 14px 14px;
	margin-left:2%;
	margin-right:4%;
	float:right;
	width:80%;
}
img.PBimagenVisitante{
	float:left;
	margin-top:4%;
	margin-left:4%;
	border-radius: 50%;
}
div.PBmensajeVisitante p.PBmensajeTexto{
	margin-left:4%;
}
div.PBmensajeVisitante p.PBmensajeFecha{
	margin-top:-12px;
	margin-left:4%;
	color:grey;
	font-size:75%;
}
.PBtextoEnviar{
	width:78%;
	margin-left:4%;
	border: 1px solid #B8B8B8;
	border-radius: 14px 14px 14px 14px;
	padding-top:15px;
	padding-left:2%;
	margin-top:2%;
	margin-bottom:2%;
	float:left;
	resize:none;
}
.PBboton{
	background-color:#F88425;
	float:right;
	margin-top:2%;
	color:white;
	padding:2%;
	border-radius: 14px 14px 14px 14px;
	margin-right:4%;
}
.PBtxt{
	border: 1px solid #B8B8B8;
	border-radius: 14px 14px 14px 14px;
}
.PBmensajes{
	height:368px;
	overflow-y: scroll;
}
