html{margin:20px;font-family:Helvetica}
.PBimagenMensaje{float:left;margin-bottom:10px}
.PBtituloMensaje{float:left;margin-left:10px;margin-top:-20px}
p.PBasuntoMensaje{font-size:80%;margin-top:-15px}
p.PBmensaje{float:left;margin-left:50px;margin-top:0px}
hr{clear:both}