html{
	margin:20px;
	font-family:Helvetica
}
.PBimagenMensaje{
	float:left;
	margin-bottom:10px
}
.PBtituloMensaje{
	float:left;
	margin-left:10px;
	margin-top:-20px
}
p.PBasuntoMensaje{
	font-size:80%;
	margin-top:-15px
}
p.PBmensaje{
	float:left;
	margin-left:50px;
	margin-top:0px
}
hr{
	clear:both
}
#miVentana{
	display: flex;
	position: fixed;
	margin-left:0px;
	width: 700px; 
	height: 200px; 
	top: 0; 
	left: 0; 
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	font-weight: normal; 
	border: #333333 1.5px solid; 
	background-color: #FAFAFA; 
	color: #000000;
	padding:15px;
	padding-left:20px;
	padding-right:20px;
	display:none
}
