* {
  	font-family:'Segoe UI Light';
  	padding:0;
 	margin:0;
}

a.open{
	background-color: #414141;
	border-radius: 5px;
	color: #fff;
	font-size: 1.5em;
	margin: 20px;
	padding: 10px 20px;
	position: absolute;
	text-decoration: none;
	text-shadow: 2px 2px 0px #000;
	-moz-transition:background-color 1s;
	-webkit-transition:background-color 1s;
	-o-transition:background-color 1s;
	-ms-transition:background-color 1s;

}

a.open:hover{
	background-color: #111;
}

section.modalDialog{
	background-color: rgba(0,0,0,.5);
	bottom: 0;
	top:0;
	left: 0;
	right: 0;
	opacity: 0;
	position: fixed;
	z-index: -2;
	-moz-transition: opacity 1s;
	-webkit-transition: opacity 1s;
	-o-transition: opacity 1s;
	-ms-transition: opacity 1s;
}

section.modalDialog:target{
	opacity: 1;
}

a.close{
	background-color: #414141;
	border-radius: 5px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	line-height: 22px;
	position: absolute;
	right: 5px;
	top:5px;
	text-align: center;
	text-decoration: none;
	width: 28px;
}

a.close{
	margin-right:1%;
	margin-top: 1%;
	color: white; 
	background-color: #F88425; 
	text-decoration: none;
}

section.modal{
	background-color: white;
	box-shadow: 0px 0px 10px #000;
	border-radius: 5px;
	color: #fff;
	margin: 10% auto;
	padding: 20px;
	position: relative;
	width: 100%;
	max-width: 1000px;
	display: flex;
	display: -webkit-flex;
	-webkit-flex-flow: row wrap;
}

h2{
	color: black;
	font-size: 2em;
	margin-bottom: 10px;
}

p{
	color: black;
	font-size: 1.2em;
}

.uno {
	flex: 1;
	-webkit-flex: 1;
	-webkit-order: 1;
}
.imagen {

	/*background: url(image.jpeg) -70px -90px no-repeat;*/
	border: 3px double #fff;
  	height: 20em;
  	margin: .2em 1em 1em 0;
  	width: 20em;
	align-self: center;
	-webkit-align-self: center;
	-webkit-order: 2;

}
.ubicacion p{
	font-family: monospace;
	font-size: 1.5;
	line-height: 1.6;
	font-weight: bold;
}
.infoAnimal p{
	margin-left: 3px;
	font-family: monospace;
	font-size: 1.5;
	line-height: 1.6;
}
.linkProtectora a{
	font-family: monospace;
	font-size: 17px;
	line-height: 1.6;
	color: #F88425; 
	background-color: transparent; 
	text-decoration: none;
}
.contenidoPerfil p{
	font-family: monospace;
	font-size: 2;
	line-height: 1.6;
}
.titulo h2{
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-style: bold;
	color: #F88425;
}
.ubicacion img{
	width: 15px;
	padding-bottom: 2px;
}
.linkProtectora img{
	width: 20px;
	padding-bottom: 2px;
}